body
{
    margin: 0;
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
}

.titoloLibro
{
    font-size: 2vw;
}

.containerElemento
{
    margin: 2vw;
    background-color: #b69a7942;
    border-radius: 1vw;
    padding: 0.5vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    transition: transform 0.3s ease;
}

.containerElemento:hover {
    transform: scale(0.98);
      cursor: pointer;
}

.containerDati
{
    display: flex;
}

.containerDataCasa
{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.containerAutoreDisponibile
{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.disponibile
{
  color: #01b101;
}

.nonDisponibile
{
    color: red;
}

#titoloPagina
{
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 2.3vw;
}

#sceltaCategoria
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1vw;
    width: 60%;
    margin-left: 21vw;
}

#btnEnc
{
    margin-left: 5vw;
}

#sceltaCategoria button
{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1.3vw;
}

.catSelezionata
{
    color: #b69a79b8;
    pointer-events: none;
    cursor: default;
}

.catNonSelezionata
{
    color: #b69a79;
    text-decoration: underline;
    transition: transform 0.2s;
}

.catNonSelezionata:hover
{
    transform: scale(0.9);
}

#lineaFiltri
{
   width: 90%;
   margin-left: 4.5vw;
    margin-top: 2vw;
}

#rigaTestiGuida
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

#contBoxFiltri
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vw;
}

#noResult
{
    width: 100%;
    text-align: center;
    margin-top: 10vw;
}

#footerLogin
{
    margin-top: 10vw;
}

#filtroTitolo
{
    padding: 0.7vw 0.7vw;
    width: 20vw;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 110%;
    margin-left: 4.5vw;
}

#divFiltroTitolo button
{
    font-size: 110%;
    padding: 0.7vw 1vw;
    background-color: #b69a79;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
}

#divFiltroTitolo button:hover
{
    background-color: #998165;
}

#filtroAnno
{
    border-radius: 5px;
    padding: 0.7vw;
}

#filtroCasaEditrice
{
    border-radius: 5px;
    padding: 0.7vw;
}

#labelForTitolo
{
    margin-left: -7vw;
}

#labelForCasa
{
    margin-right: 5vw;
}

#btnIndietro
{
    display: none;
    font-size: 110%;
    padding: 0.7vw 1vw;
    background-color: #b69a79;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
    margin: 2vw;
}

#btnIndietro:hover
{
    background-color: #998165;
}

#divDettagli
{
    width: 100%;
    text-align: center;
}

#titoloLibro
{
    font-size: 3vw;
    margin-top: 3vw;
    margin-inline: 3vw;
}

#prenotaBtn
{
    position: absolute;
    right: 10vw;
    font-size: 150%;
    padding: 0.7vw 1vw;
    background-color: #01b901;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
    margin-top: 2vw;
}

#prenotaBtn:hover
{
    background-color: green;
}

#btnAggiungiLibro
{
    background-color: #b69a79;
    color: #fff;
    font-size: 3vw;
    border-radius: 50%;
    border: none;
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
}

#btnAggiungiLibro:hover
{
    background-color: #998165;
}

.notificaLibro
{
    position: absolute;
    right: 0;
    margin-right: 3vw;
    background-color: #998165;
    color: white;
    padding: 0.5vw;
    margin-top: 1vw;  
    border-radius: 15px;
}

#divPosizione
{
    width: 100%;
    text-align: center;
    margin-top: 5vw;
}

#titoloPagina
{
    margin-top: 5vw;
}

#btnRevoca
{
    font-size: 110%;
    padding: 0.7vw 1vw;
    background-color: #01b901;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
    margin: 2vw;
}

#btnRevoca:hover
{
    background-color: green;
}

.titoloLibroPrenotazioni
{
    font-size: 2vw;
}


.containerElementoPrenotazioni
{
    margin: 2vw;
    background-color: #b69a7942;
    border-radius: 1vw;
    padding: 0.5vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    transition: margin-left 0.3s ease;
    text-align: left !important;
}

.containerElementoPrenotazioni:hover {
    margin-left: 4vw;
}

#divPrenotazioniLista
{
    overflow: auto; 
    height: 30%; 
    width: 85%;
    margin-inline: 5vw;
    border-radius: 15px;
}

#divPrenotazioni
{
    text-align: center;
    margin-top: 5vw;
}

#btnPresta
{
    font-size: 110%;
    padding: 0.7vw 1vw;
    background-color: #01b901;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
    margin-left: 2vw;
}

#btnPresta:hover
{
    background-color: green;
}