body
{
    margin: 0;
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
}

#contenuto
{
    margin: 2vw;
}

h1
{
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#descrizioneBiblioteca
{
    text-align: center;
    margin-inline: 20vw;
    font-size: 2vw;
}