body
{
    margin: 0;
}

#contenuto
{
    margin: 2vw;
}

h1
{
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

p
{
    text-align: center;
    margin-inline: 20vw;
    font-size: 2vw;
}